html, body {
	width: 100%;
	height: 100%;
}

.navbar {
	background-color: #C34500;
	border: none;
}

.navbar-default .navbar-brand {
	font-size: 20pt;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
	color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
	color: #074A8D;
}

#content .main_section .sub_section {
	padding-left: 20px;
}

.navbar-default .navbar-nav .btn-default {
	border: none;
	margin-right: 20px;
}

.navbar-header .navbar-toggle {
	background-color: white;
	border: none;
}

.modal .modal-footer .btn-default {
	color: white;
	background-color: #074A8D;
	border: none;
}

.modal .modal-footer .btn-default:hover {
	background-color: #093d73;
}

.modal img {
	width: 100% !important;
	height: auto !important;
}

#content {
	margin-top: 40px;
	width: 70%;
	float: left;
}

#content #page_title {
	text-align: center;
}

#content a {
	color: #074A8D;
	font-weight: bold;
}

#content .non-link {
	color: white;
	font-size: 15pt;
}

#footer {
	font-size: 8pt;
	text-align: center;
	width: 75%;
	float: left;
}

.nav .group_name {
	padding-left: 5px;
/* 	text-align: center; */
}

button.btn.btn-default.navbar-btn {
	display: none;
}

table td, table th {
	border: 1px solid grey;
	padding: 3px;
}

table tr:hover {
	background-color: rgba(168,  197,  202, 0.41);
}

table th {
	background-color: #A7C4C9;
}

.categories-list {
	text-align: center;
}

.categories-list li {
	list-style: none;
	text-align: center;
	display: inline-block;
}

@media (max-width: 1000px) {
	button.btn.btn-default.navbar-btn {
		display: block;
	}
	
	#content {
		width: 100%;
	}
	
	#footer {
		width: 100%;
	}
	
	#patternsMenu {
		right: -300px;
	}
}

@media print {
	#primer_modal, #patternsMenu, .navbar {
		display: none;
	}
	
	#content #page_title {
		color: #F37321;
	}
	
	#content h2 {
		color: #B06010;
	}
	
	#content h3 {
		color: #685040;
	}
}